name: ExtractM4Core
on: workflow_dispatch

jobs:
  extract:
    runs-on: ubuntu-latest
    steps:
      - name: 强行拆解镜像
        run: |
          docker create --name=grab onething1/wxedge
          # 尝试多个可能的存放路径，总有一个是对的
          docker cp grab:/usr/bin/wxedge ./wxedge || docker cp grab:/wxedge ./wxedge || docker cp grab:/app/wxedge ./wxedge
          tar -cvf wxedge_core.tar wxedge
          
      - name: 上传提取出的二进制
        uses: actions/upload-artifact@v4
        with:
          name: wxedge-m4-binary
          path: wxedge_core.tar
