name: GetM4Core
on: workflow_dispatch

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: 暴力拉取核心包
        run: |
          # 尝试从另一个官方备用节点拉取，并增加重试逻辑
          curl -L -k --retry 5 -o wxedge_arm64.tar https://static.onethingsmart.com/download/wxedge/wxedge_arm64.tar
          
      - name: 检查文件大小
        run: ls -lh wxedge_arm64.tar

      - name: 上传火种
        uses: actions/upload-artifact@v4
        with:
          name: wxedge-package
          path: wxedge_arm64.tar
